.about {
  background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  border-radius: 10px;
  width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .about-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .about-header h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: white;
  }
  
  .about-header p {
    font-size: 24px;
    color: white;
  }
  
  .about-content {
    line-height: 1.5;
  }
  
  .about-content h2 {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
  }
  
  .about-content p {
    font-size: 18px;
    color: white;
  }


  