/* therapy.styles.css */
.therapist-card {
    @apply bg-gradient-to-tr to-primary from-secondary;
    @apply text-6xl text-gray-800 font-extrabold mb-6;
    
    align-items: flex-start; /* Align items to the top */
    width: 1500px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-left: 230px;
  }
  
  .therapist-card:hover {
    transform: translateY(-5px);
  }
  
  .therapist-card .image-container {
    flex: 0 0 auto;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    border-radius: 5%;
  }
  
  .therapist-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    flex-grow: 1;
  }
  
  .therapist-card h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .therapist-card p {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  .therapist-card .details {
    margin-top: auto;
  }
  
  .therapist-card .details button {
    background-color: #ff6b6b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .therapist-card .details button:hover {
    background-color: #ee5253;
  }
  