/* .youtube {
  @apply grow py-4 flex flex-col gap-4 items-center justify-center bg-gradient-to-tr to-primary from-secondary border-y-2 border-gray-400 w-full;
  position: fixed;
  top: 150px;
  left: 0;
  bottom: 150px;
  right: 0;
  z-index: -1;
} */

.youtube-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  @apply bg-gradient-to-tr to-primary from-secondary;
}

.video-wrapper {
  position: absolute;
  padding-top: 56.25%;
  width: 80%;
  max-width: 800px;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 20px;
  color: #888888;
}

.next-button-container {
  display: flex;
  justify-content: center;
}

.next-button {
  @apply px-6 py-2
  bg-primary
  rounded-full
  text-white
  font-bold
  shadow-md
  hover:filter
  hover:saturate-200
  hover:shadow-sm
  active:saturate-50
  active:scale-95
  ease-out
  transition-all;
  margin-left: 950px;
  margin-top: 600px;
}
